<nav>
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Ouro Center - Painel Administrativo</span>
    </div>

    <div class="sidebar">
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Ouro Center</span>
      </div>
      <div class="sidebar-content">
        <ul class="lists">
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-home-alt icon"></i>
              <span class="link">Dashboard</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bar-chart-alt-2 icon"></i>
              <span class="link">Categorias</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bar-chart-alt-2 icon"></i>
              <span class="link">Cadastrar Produto</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bar-chart-alt-2 icon"></i>
              <span class="link">Editar Produto</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-bell icon"></i>
              <span class="link">Notificacões</span>
            </a>
          </li>
          <li class="list">
            <a href="chat/login.php" class="nav-link">
              <i class="bx bx-message-rounded icon"></i>
              <span class="link">Mensagens</span>
            </a>
          </li>
          <li class="list">
            <a href="#" class="nav-link">
              <i class="bx bx-pie-chart-alt-2 icon"></i>
              <span class="link">Redefinir senha</span>
            </a>
          </li>
        </ul>

        <div class="bottom-cotent">
          <li class="list">
            <a href="index.php" class="nav-link">
              <i class="bx bx-log-out icon"></i>
              <span class="link">Voltar ao site</span>
            </a>
          </li>
          <li class="list">
            <a href="logout.php" class="nav-link">
              <i class="bx bx-log-out icon"></i>
              <span class="link">Sair</span>
            </a>
          </li>
        </div>
      </div>
    </div>
  </nav>