<footer>
    <br>
    <h3>® TODOS OS DIREITOS RESERVADOS </h3>
    <br>
        <div class="rodape"> 
             <img src="imagens/cartoes.png" alt="cartoes"  wight="100" height="100">          
        </div>
        <div class="menu-lateral">
            <ul>
                <li>
                    <a href="loginAdm.php">Login Empresas</a>
                </li>
                <li>
                    <a href="login.php">Login</a>
                </li>
                <li>
                    <a href="registrar.html">Registre</a>
                </li>
                <li>
                    <a href="formulariocontato.php">Cadastre sua Loja</a>
                </li>
                <li>
                    <a href="quemsomos.html">Quem Somos</a>
                </li>
               
            </ul>
        </div> 
        <br>
    <div class="ult">
        <h4>Ouro Center - O Shopping Online de Ouro Fino e região</h4>
    </div>    
</footer>
