
    <br><br>
    <main>   
        <div class="sub-titulo">
        <h1>Encontre sua loja</h1>
        </div>
    <div class="lojas">
        <div class="cards">
            <img src="imagens/juninhogames.jpeg"  alt="lojaJuninho" height="150" width="150">
            <h3>Juninho Games</h3>
            <a class="botao" href="juninhoGames.php">Acessar</a>
        </div>
        <div class="cards">
            <img src="imagens/exclusiva.png"  alt="loja" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards">
            <img src="imagens/exclusiva.png"  alt="loja" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards">
            <img src="imagens/exclusiva.png"  alt="loja" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao"  href="loja2.html">Acessar</a>
        </div>
        <div class="cards">
            <img src="imagens/exclusiva.png"  alt="loja" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards">
            <img src="imagens/exclusiva.png" alt="loja" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
    </div> 
    <br>
    <div class="lojas2">
        <div class="cards2">
            <img src="imagens/exclusiva.png"  alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards2">
            <img src="imagens/exclusiva.png"  alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards2">
            <img src="imagens/exclusiva.png" alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards2">
            <img src="imagens/exclusiva.png" alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards2">
            <img src="imagens/exclusiva.png" alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
        <div class="cards2">
            <img src="imagens/exclusiva.png" alt="loja2" height="150" width="150">
            <h3>Exlusiva Boutique</h3>
            <a class="botao" href="loja2.html">Acessar</a>
        </div>
    </div> 
    <br><br>
        <div class="tit" >
            <h1>Ouro Center Shopping</h1>     
        </div>
        <div class="tit-img">
            <img src="imagens/ourocenter-logo.png" alt="barra" wight="150" height="150">    
        </div>
        <br>
        <div class="tit-text">
            <p>
                Para agradar a toda família e os mais variados estilos, 
                o Ouro Center Shopping conta com as melhores tendências, 
                um dos maiores centros de lojas de Ouro Fino e região. 
            </p>
        </div>
    </main>
    <br><br>
</body>
</html>
